jupyterlab
tqdm
notebook==7.1.2
openai
elasticsearch
scikit-learn
pandas
ipykernel
black
black[jupyter]
pylint
pytest
pytest-cov
python-dotenv
tiktoken
#-----------------------------
sentence-transformers
#huggingface_hub[cli]